@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

.rbc-header {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 0px;
  color: var(--muted-foreground);
  padding-bottom: calc(var(--spacing) * 4) /* 1rem = 16px */;
  --tw-font-weight: var(--font-weight-normal) /* 400 */;
  font-weight: var(--font-weight-normal) /* 400 */;
  font-size: var(--text-sm) /* 0.875rem = 14px */;
  line-height: var(--tw-leading, var(--text-sm--line-height) /* calc(1.25 / 0.875) ≈ 1.4286 */);
}

.rbc-header + .rbc-header {
  border-left-style: var(--tw-border-style);
  border-left-width: 0px;
}

.rbc-button-link {
  font-size: var(--text-xs) /* 0.75rem = 12px */;
  line-height: var(--tw-leading, var(--text-xs--line-height) /* calc(1 / 0.75) ≈ 1.3333 */);
  --tw-font-weight: var(--font-weight-normal) /* 400 */;
  font-weight: var(--font-weight-normal) /* 400 */;
  color: var(--muted-foreground);
}

.rbc-month-row {
  min-height: 180px;
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
  border-inline-style: var(--tw-border-style);
  border-inline-width: 1px;
}

.rbc-month-row:last-of-type {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  border-bottom-right-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
  border-bottom-left-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
}

:not(.rbc-month-row ~ .rbc-month-row).rbc-month-row {
  border-top-left-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
  border-top-right-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
}

.rbc-month-view {
  --tw-border-style: none;
  border-style: none;
}

.rbc-date-cell {
  padding: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
}

/* .rbc-today {
  background-color: inherit;
} */

/* .rbc-off-range-bg {
  background: inherit;
} */